<%- include("partials/header",{title:title}) %>
<main>
  <h2><%= pageTitle %></h2>
  <p>
    Welcome to FortuneSlip, your gateway to daily insights and traditional Japanese Omikuji! Our mission is to bring you
    a unique and fun way to explore your fortune. Drawing inspiration from the ancient Japanese practice of Omikuji, we
    provide you with daily readings that offer guidance and a touch of mystique. Whether you're seeking advice, looking
    for a little bit of fun, or simply curious about Japanese culture, FortuneSlip is here for you. We believe that
    every day holds the potential for new discoveries and positive experiences. Let FortuneSlip be your companion on
    this journey. Enjoy your daily fortune!
  </p>
</main>
<%- include("partials/footer",{title:title}) %>
